// FONT-FAMILY

$font-primary: 'euclid', sans-serif;
$font-secondary: 'berlingo', sans-serif;

//FONT-SIZE
$xxl: 25px;
$xl: 20px;
$l: 18px;
$m: 12px;
$s: 10px;

// COLORS

$dark: #1D1D21;
$light: #EAF0FF;
$black: #000000;
$white: #FFFFFF;
$blue: #0071e3;
$green: #00DA5A;
$red: #dc3545;